/**
 * Variables
 */

$font-family: 'Open Sans', 'Roboto', Helvetica, sans-serif !default;
$font-mono: 'Roboto Mono', Menlo, Monaco, Consolas, "Courier New", monospace !default;


/**
 * Kerning and ligatures
 */

@mixin font-fractions {
  -moz-font-feature-settings: "frac=1";
  font-feature-settings: "frac" 1;
}

@mixin font-ligatures {
  -moz-font-feature-settings: "kern=1,liga=1,calt=1";
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
}

@mixin font-optimize {
  @include font-ligatures;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}