.form-item {
  @include clear;
  margin-bottom: 20px;
  display: block;

  input:not([type=checkbox]):not([type=radio]),
  textarea,
  select {
    width: 100%;
  }

  .form-item-hide-password,
  .form-item-show-password {
    position: relative;
    display: block;
    float: right;
    width: 0;
    height: 0;
    color: $color-gray;
    transition: color .3s $swift;


    &:before {
      @include fa-icon;
      display: block;
      position: absolute;
      right: 15px;
      top: -27px;
      z-index: 3;
      font-size: 14px;
      cursor: pointer;
      transform: scale(1);
      transform-origin: 50% 50%;
      transition: transform .3s $swift;
    }

    &:hover {
      color: $color-main;
      &:before {
        transform: scale(1.1);
      }
    }

    &:active:before {
      transition: transform .2s $swift;
      transform: scale(.9);
    }
  }


  .form-item-show-password {
    &:before {
      content: $fa-var-eye-slash;
    }
  }

  .form-item-hide-password {
    &:before {
      content: $fa-var-eye;
    }
  }
}