select,
input[type=text],
input[type=password] {
  line-height: $input-size;
  height: $input-size;
  box-shadow: 0 0 0 1px $color-border;
  box-sizing: border-box;
  padding: 0 25px;
  outline: none;
  border: none;
  border-radius: 2px;
  appearance: none;
  display: inline-block;
  position: relative;
  z-index: 1;

  @include placeholder {
    color: $color-description;
    font-size: 12px;
  }

  &:focus {
    transition: box-shadow .3s $swift;
    box-shadow: 0 0 0 1px $color-main;
    z-index: 3;
  }
}



.select {
  position: relative;
  height: $input-size;
  line-height: $input-size;

  select {
    position: relative;
    top: -1px;
  }

  select,
  select option {
    width: 100%;
    line-height: inherit;
    height: inherit;
    padding: 0 35px 0 15px;
    font-size: 12px;
    color: $color-text;
  }

  select + .select-arrow {
    z-index: 3;
    position: absolute;
    right: 15px;
    top: 0;

    &:after {
      @include fa-icon;
      content: $fa-var-angle-down;
      transform: rotate(0);
      transition: transform .3s ease;
    }
  }

  select:focus + .select-arrow {
    &:after {
      transform: rotate(-180deg);
    }
  }
}