input[type=text],
input[type=password],
input[type=search],
input[type=email],
.input,
select,
select option {
  display: inline-block;
  height: $input-height;
  border-radius: 2px;
  box-shadow: 0 0 0 1px $color-border;
  border: none;
  outline: none;
  padding: 0 $input-padding;
  position: relative;
  z-index: 1;

  @include placeholder {
    transition: color .2s $swift;
    color: $color-gray;
  }

  &:focus {
    @include placeholder {
      color: $color-light-gray;
    }
  }

  &.error,
  &.active,
  &:focus {
    transition: box-shadow .2s ease;
    box-shadow: 0 0 0 1px $color-main;
    z-index: 2;

    &.error {
      box-shadow: 0 0 0 1px $color-alert;
      background: lighten($color-alert, 42%);
      color: darken($color-alert, 20%) !important;
    }
  }
}
