.article {
  box-sizing: border-box;

  & > figure {
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;

    img {
      display: block;
      width: inherit;
    }
  }

  & > h2 {
    text-align: left;
    margin: 30px 0;
  }

  .article-content {
    @include clear;
    background: #fff;
    box-sizing: border-box;
    width: auto;
    position: relative;
    font-size: 15px;
    line-height: 25px;
    padding: 20px 5px;
  }

  @include content-typographic;
}


.article-show {
  $article-h-padding: 60px;
  $article-v-padding: 10px;

  background: #fff;
  margin: 50px auto;
  border-radius: 4px;
  box-shadow:
      0 1px 1px 0 rgba(#000, .1),
      0 2px 5px rgba(#000, .08);

  .article {
    & > h2 {
      margin: 20px 0 40px 0;
    }

    & > h2,
    & > hr,
    & > .article-time,
    & > .article-content {
      margin-left: $article-h-padding;
      margin-right: $article-h-padding;
    }

    .article-time {
      text-align: right;
      display: block;
      color: $color-gray;
      font-size: 11px;
      font-style: italic;

      &:before {
        @include fa-icon;
        margin-right: 3px;
        opacity: .3;
        content: $fa-var-clock-o;
      }
    }
  }

  footer {
    $height: 32px;

    padding: 20px $article-h-padding;
    box-shadow: inset 0 1px 0 $color-border;
    display: block;
    height: $height;
    line-height: $height;
    @include clear;

    .article-author {
      display: block;
      float: left;
      height: inherit;
      line-height: inherit;

      img {
        display: block;
        float: left;
        width: $height;
        height: $height;
        border-radius: 50%;
        margin-right: 15px;
      }
    }

    .article-tags {
      float: right;

      .article-tag {
        display: inline-block;
        line-height: 24px;
        height: 24px;
        margin: 0 5px;
        border-radius: 2px;
        background: $color-main;
        padding: 0 10px;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
