header {
  a {
    color: $color-text;
    text-decoration: none;
    &:hover,
    &:active,
    &.active {
      color: $color-main;
    }
  }

  @import "header/topline";
  @import "header/search";
  @import "header/nav";

  .user-login {
    float: right;
  }
}
