@import "kernel";

ui-dropdown {
  display: inline-block;
  position: relative;
  border-radius: 2px;
  @include height($button-height);

  .dropdown {
    display: block;
    position: inherit;
    border-radius: inherit;
    padding: 0;
    @include height(inherit);
    width: 100%;
    box-sizing: border-box;

    .dropdown-value {
      left: 0;
      top: 0;
      display: block;
      background: #fff;
      outline: none;
      border: none;
      box-sizing: border-box;
      width: 100%;
      position: relative;
      z-index: 1;
      height: inherit;
      text-align: right;
      color: $color-text;
      margin-right: -5px;
      padding: 0 ($input-padding * 2) 0 $input-padding;
      @include text-overflow;

      &:after {
        @include fa-icon;
        content: $fa-var-angle-down;
        width: 15px;
        height: 15px;
        text-align: center;
        display: block;
        position: absolute;
        right: ($input-padding - 5px);
        top: ($input-height / 2) - 7px;
        font-size: 15px;
        transform: rotate(0);
        transition: transform .2s $swift;
      }

      .dropdown-placeholder {
        color: $color-light-gray-text;
      }
    }

    .dropdown-options {
      right: 0;
      top: 43px;
      border-radius: 0 0 3px 3px;
      position: absolute;
      box-shadow:
        0 -1px 0 $color-main,
        $ui-box-shadow;
      background: #fff;
      min-width: 100%;
      line-height: inherit;
      text-align: right;
      max-height: ($button-height * 4);
      opacity: 0;
      z-index: -99999;
      pointer-events: none;
      overflow-y: hidden;
      outline: none;
      border: none;
      transform: translateY(-20px);
      transform-origin: 0 0;
      transition:
        transform .1s $swift,
        opacity .1s $swift;

      &.visible {
        transition:
          transform .2s $swift,
          opacity .1s $swift;
        opacity: 1;
        z-index: 3;
        transform: translateY(0);
        overflow-y: auto;
        pointer-events: all;
      }

      .dropdown-option {
        width: 100%;
        border: none;
        margin: 5px 0;
        outline: none;
        display: block;
        background: #fff;
        text-align: right;
        color: $color-text;
        @include height($button-height - 10px);
        padding: 0 ($input-padding * 2) 0 $input-padding;

        &:hover {
          color: $color-main;
          background: $color-hover;
        }
      }
    }

    &.active {
      .dropdown-value {
        color: $color-main;

        &:after {
          transform: rotate(180deg);
        }
      }
    }
  }
}
