* {
  box-sizing: border-box; }

::-moz-focus-inner {
  padding: 0;
  border: none; }

:focus {
  outline: 0; }

html,
body {
  height: 100%; }

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.4; }

main,
li {
  display: block; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

table {
  width: 100%;
  max-width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0; }

th, td {
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit; }

p {
  margin: 0; }

strong {
  font-weight: bold; }

a,
button,
input,
label,
select,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

input,
button {
  overflow: visible; }

a,
button {
  transition: .3s;
  color: inherit; }

a {
  text-decoration: none; }

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  line-height: 1;
  cursor: pointer; }

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  border: none; }

input,
textarea {
  margin: 0;
  font: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

textarea {
  resize: vertical; }

svg {
  display: block;
  fill: currentColor; }

@font-face {
  font-family: 'Raleway';
  font-weight: normal;
  src: url("/fonts/Raleway-Regular.woff2") format("woff2"), url("/fonts/Raleway-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  src: url("/fonts/Raleway-Bold.woff2") format("woff2"), url("/fonts/Raleway-Bold.woff") format("woff"); }

#app {
  height: 100%; }

body {
  color: #333;
  font-family: 'Raleway', Arial, sans-serif;
  font-feature-settings: 'lnum' 1; }

.laravel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100%;
  font-size: 1.5rem;
  line-height: 1.6; }

.laravel-main {
  -ms-flex-positive: 1;
      flex-grow: 1; }

.laravel-header {
  height: 70px;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }
  .laravel-header .contents {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex: 0 1 auto;
        flex: 0 1 auto;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px; }
  .laravel-header a.active, .laravel-header a:hover, .laravel-header a:focus {
    color: #fb503b; }
  .laravel-header .logo {
    -ms-flex-negative: 0;
        flex-shrink: 0; }
    .laravel-header .logo a {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-align: center;
          align-items: center; }
    .laravel-header .logo svg {
      height: 30px;
      margin-right: 10px;
      fill: #fb503b; }
  .laravel-header .logo-subtext p {
    line-height: 1; }
    .laravel-header .logo-subtext p:first-of-type {
      margin-bottom: 2px;
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: uppercase; }
    .laravel-header .logo-subtext p:last-of-type {
      color: #767676;
      font-size: 1.2rem; }
  .laravel-header .menu button {
    display: -ms-flexbox;
    display: flex;
    color: #767676; }
  .laravel-header .menu svg {
    width: 20px; }
  .laravel-header .navigation {
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    max-height: 0;
    transition: max-height .3s;
    overflow: hidden;
    z-index: 10; }
    .laravel-header .navigation ul {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      padding: 5px 15px;
      background-color: #fff; }
    .laravel-header .navigation li {
      line-height: 40px; }
    .laravel-header .navigation a {
      display: block; }
    .laravel-header .navigation.opened {
      max-height: 500px; }
  @media (min-width: 768px) {
    .laravel-header .contents {
      max-width: 750px; }
    .laravel-header .menu {
      display: none; }
    .laravel-header .navigation {
      position: relative;
      top: 0;
      width: auto;
      max-height: initial; }
      .laravel-header .navigation ul {
        -ms-flex-direction: row;
            flex-direction: row;
        background-color: transparent; }
      .laravel-header .navigation li:not(:last-of-type) {
        margin-right: 15px; } }
  @media (min-width: 992px) {
    .laravel-header {
      height: 80px; }
      .laravel-header .contents {
        max-width: 970px; }
      .laravel-header .navigation li:not(:last-of-type) {
        margin-right: 30px; } }
  @media (min-width: 1200px) {
    .laravel-header .contents {
      max-width: 1170px; } }

.laravel-footer {
  padding: 15px;
  background-color: black;
  color: white; }

@keyframes fadeLeft {
  0% {
    opacity: .15; }
  50% {
    opacity: 1; }
  100% {
    opacity: .15; } }

@keyframes fadeRight {
  0% {
    opacity: 1; }
  50% {
    opacity: .15; }
  100% {
    opacity: 1; } }

.loading {
  position: relative;
  width: 16px;
  height: 6px;
  margin: 0 auto; }
  .loading::before, .loading::after {
    position: absolute;
    top: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000;
    content: ''; }
  .loading::before {
    left: 0;
    animation: fadeLeft 1s ease infinite; }
  .loading::after {
    left: 10px;
    animation: fadeRight 1s ease infinite; }

.pagination {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  padding: 20px 15px; }
  .pagination li:not(:last-of-type) {
    margin-right: 15px; }
  .pagination a {
    display: block;
    background-color: #eee;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center; }
    .pagination a.active, .pagination a:hover, .pagination a:focus {
      background-color: #fb503b;
      color: white; }

.articles-page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 auto; }
  .articles-page .main {
    margin-bottom: 30px; }
    .articles-page .main .articles-list li:not(:last-of-type) {
      margin-bottom: 40px; }
    .articles-page .main .articles-list article img {
      margin-bottom: 24px; }
    .articles-page .main .articles-list article .contents {
      padding: 0 15px; }
    .articles-page .main .articles-list article header {
      margin-bottom: 20px; }
    .articles-page .main .articles-list article h3 {
      font-size: 2.4rem;
      line-height: 1.2; }
    .articles-page .main .articles-list article .preview {
      margin-bottom: 12px; }
    .articles-page .main .articles-list article footer {
      font-size: 1.3rem;
      line-height: 1.8461538462; }
  @media (min-width: 768px) {
    .articles-page {
      -ms-flex-direction: row;
          flex-direction: row;
      max-width: 750px; }
      .articles-page .main,
      .articles-page .sidebar {
        padding: 0 15px; }
      .articles-page .main {
        -ms-flex-preferred-size: 70%;
            flex-basis: 70%; }
      .articles-page .sidebar {
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%; } }
  @media (min-width: 992px) {
    .articles-page {
      max-width: 970px; } }
  @media (min-width: 1200px) {
    .articles-page {
      max-width: 1170px; } }
