* {
  box-sizing: border-box;
}

::-moz-focus-inner {
  padding: 0;
  border: none;
}

:focus {
  outline: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
}

main,
li {
  display: block;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

table {
  width: 100%;
  max-width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
}

p {
  margin: 0;
}

strong {
  font-weight: bold;
}

a,
button,
input,
label,
select,
textarea {
  touch-action: manipulation;
}

input,
button {
  overflow: visible;
}

a,
button {
  transition: .3s;
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  line-height: 1;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  border: none;
}

input,
textarea {
  margin: 0;
  font: inherit;
  appearance: none;
}

textarea {
  resize: vertical;
}

svg {
  display: block;
  fill: currentColor;
}
