{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack/webpack.dev.config.js"
      }
    }
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "semi": [2, "never"],
    "no-unused-vars": [2, {
      "varsIgnorePattern": "^_"
    }],
    "class-methods-use-this": 0,
    "react/jsx-filename-extension": [2, {
      "extensions": ['.js']
    }],
    "react/forbid-prop-types": 0,
    "react/require-default-props": 0,
    "react/no-danger": 0,
    "jsx-a11y/no-static-element-interactions": 0
  },
  "env": {
    "browser": true
  }
}
