.box-invisible {
	margin-top: 30px;
	margin-bottom: 30px;
}

.sidebar {
	min-height: 700px;
}

.title {
	margin-top: 0;
	padding-top: 0;
}

textarea.post_description {
	height: 120px;
}

textarea.post_text {
	height: 500px;
	font-size: 12px;
	padding: 4px;
	border-radius: 2px;
}

.text-danger {
	color: #DA3727;
}

.text-success {
	color: #02A100;
}

.text-info {
	color: #3A87AD;
}

/*
Coreos theme
*/
.red {
	color: #F4645F;
}

.blue {
	color: #419EDA;
}

.green {
	color: #6EC654;
}

.gray {
	color: rgba(0, 0, 0, 0.75);
}

.black {
	color: #000000;
}

.white {
	color: #FFFFFF;
}

.lead {
	font-weight: 400;
	color: rgba(77, 77, 77, 0.75);
	text-shadow: 0 1px 1px #FFFFFF;
	font-style: italic;
}

table {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-weight: 400;
}

table thead th {
	text-transform: uppercase;
	font-size: 13px;
	line-height: 20px;
	border-bottom: 1px solid #DDDDDD;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	color: #666666;
}

table tbody td {
	line-height: 18px;
	font-size: 12px;
	border-bottom: 1px solid #DDDDDD;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 0px;
	vertical-align: text-top;
}

table thead td:first-child, table thead th:first-child, table tbody td:first-child, table tfoot td:first-child {
	padding-left: 10px;
}

table thead td:last-child, thead th:last-child, table tbody td:last-child, table tfoot td:last-child {
	padding-right: 10px;
}

table td.dashed {
	border-bottom: 1px dashed #DDDDDD;
}

table td:first-child.rowspan-padding {
	padding-left: 0;
}

.img-full {
	width: 100%;
}

.btn {
	border: none;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
	margin-right: 10px;
	border-radius: 2px;
}

.btn-lg {
	border-radius: 3px;
}

.btn-group .btn {
	margin-right: 0px;
}

.btn-primary {
	color: #FFFFFF;
	background-color: #F04C5C;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled], .open .dropdown-toggle.btn-primary {
	color: #FFFFFF;
	background-color: #DD1326;
}

.btn-secondary {
	color: #FFFFFF;
	background-color: #419EDA;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus, .btn-secondary.active, .btn-secondary.disabled, .btn-secondary[disabled], .open .dropdown-toggle.btn-secondary {
	color: #FFFFFF;
	background-color: #2276AD;
}

.btn-default {
	color: rgba(0, 0, 0, 0.75);
	background-color: #FFFFFF;
	border-top: 1px solid #EEEEEE;
}

.btn-default:hover, .btn-default:active, .btn-default.active, .btn-default.disabled, .btn-default[disabled] {
	color: #000000;
	background-color: #F1F1F1;
	border-color: #EEEEEE;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.4);
}

.bs-top {
	display: none;
}