.docs {
	.sidebar {
		padding-top: 45px;

		ul {
			list-style: none;
			margin: 0;
			padding: 0px 0px 20px;

			li {
				font-weight: 600;
				color: #F4645F;
				font-size: 16px;
				a {
					font-weight: 400;
					color: #F4645F;
					font-size: 14px;
					padding-left: 10px;
					text-decoration: none;
				}
			}
		}
	}

	.main {
		font-family: Verdana, Tahoma, Arial, sans-serif;
		font-size: 14px;
		line-height: 1.6;

		h1, h2, h3, h4, h5, h6 {
			font-family: 'Open Sans', Tahoma, Arial, sans-serif;
		}

		h1 {
			font-size: 28px;
			text-transform: uppercase;
			color: $primary-color;
		}
		h2 {
			font-size: 20px;
			font-weight: 400;
			text-transform: uppercase;
			color: $primary-color;

			border-top: 1px solid #EEEEEE;
			padding-top: 35px;
			margin-bottom: 20px;

			a {
				position: relative;
				color: $primary-color;
				text-decoration: none;

				@extend %hash-tag;
			}
		}
		h3 {
			font-size: 18px;
			font-weight: 400;
			color: $color-grey-6;
			margin-bottom: 15px;
		}

		a {
			color: $color-green;
			text-decoration: underline;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 15px 0 20px;

			li {
				position: relative;
				margin-bottom: 5px;

				@extend %hash-tag;

				a {
					color: $primary-color;
					text-decoration: none;
				}
			}
		}

		.status- {
			&green {
				border-top: 10px solid $docs-color-green;
			}
			&yellow {
				border-top: 10px solid $docs-color-yellow;
			}
			&red {
				border-top: 10px solid $docs-color-red;
			}
		}

		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
		}

		blockquote {
			background: $docs-bloquote-bg-color;
			border-radius: 2px;
			margin-bottom: 20px;
			max-width: 100%;
			padding: 18px 20px;
			font-size: 14px;
			border: 0;

			p, a {
				color: white;
			}
		}
	}
}