body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: $body-color;
	line-height: 1.6;
	background-color: $body-bg-color;
	position: relative;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 600;
	line-height: 1.4;
	margin-top: 0;
}

h1 {
	font-size: 28px;
	text-transform: uppercase;
	color: #F4645F;
}

h2 {
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
}

h5 {
	font-size: 16px;
	margin-bottom: 2px;
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover, &:focus {
		text-decoration: none;
	}
}

b, strong {
	font-weight: 600;
}

code {
	background: #EEEEEE;
	color: $primary-color;
	padding: 2px 7px;
	border-radius: 3px;
	font-family: source-code-pro, monospace;
	font-size: 13px;
}

table {
	margin-bottom: 30px;

	thead th {
		font-size: 12px;
		text-transform: uppercase;
	}
	tbody {

	}
	th, td {
		line-height: 35px;
		border: 2px solid $border-color;
	}
	i {
		margin-right: 3px;
	}
}

ul {
	li {
		position: relative;
	}
}

@media (max-width: $screen-xs-max) {
	.container {
		padding: 0;
	}
	.p-35-45 {
		padding: 15px !important;
	}
}