body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: $body-color;
	line-height: 1.4;
	background-color: $body-bg-color;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1.4;
}

h1 {
	color: rgba(0, 0, 0, 0.52);
	//	text-shadow: 0 1px 0 #FFFFFF;
	margin-top: 0;
	font-size: 30px;
}

h2, h3 {
	color: #F4645F;
	//	text-shadow: 0 1px 0 #FFFFFF;
	&.small {
		font-weight: 300;
	}
}

h4 {
	//	text-shadow: 0 1px 0 #FFFFFF;
}

h5 {
	font-size: 16px;
	margin-bottom: 2px;
}

a {
	color: $link-color;
}

b, strong {
	font-weight: 600;
}