body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: $body-color;
	line-height: 1.6;
	background-color: $body-bg-color;
	position: relative;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 600;
	line-height: 1.4;
}

h1 {
	color: rgba(0, 0, 0, 0.52);
	margin-top: 0;
	font-size: 30px;
}

h5 {
	font-size: 16px;
	margin-bottom: 2px;
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover, &:focus {
		text-decoration: none;
	}
}

b, strong {
	font-weight: 600;
}

code {
	background: #EEEEEE;
	color: $primary-color;
	padding: 2px 7px;
	border-radius: 3px;
	font-family: source-code-pro, monospace;
	font-size: 13px;
}