.navbar {
	margin-bottom: 0;
	background-color: $navbar-bg-color;
	font-size: 16px;
	box-shadow: 0 0 3px #C2C2C2;
}

.navbar-brand {
	width: 160px;
	font-size: 20px;
	font-weight: 600;
	//	margin-left: 10px; // TODO mobile
	color: $navbar-brand-color;

	&:hover, &:focus {
		color: lighten($navbar-brand-color, 10);
	}
}

.navbar-toggle .icon-bar {
	background-color: $color-grey-4;
}

.nab > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	background: none;
}

.navbar-fixed-top {
	//	border: 0;
}

.submenu-nav {
	margin-bottom: 0;
	border: none;

	.container {
		line-height: 50px;
	}

	ul {
		margin-bottom: 0;
	}

	li.active {
		background-color: rgba(255, 167, 150, 0.16);
	}
}

