// Colors
$color-grey-1: #F1F1F1;
$color-grey-6: #565656;
$color-grey-7: #353535;

$primary-color: #F4645F;

// Global
$body-color: $color-grey-6;
$body-bg-color: $color-grey-1;
$link-color: #428BCA;

$navbar-bg-color: white;
$navbar-brand-color: $primary-color;

// Home
$header-bg-url: 'img/hexagons.jpg';
$header-bg-color: #C8544E;