// Colors
$color-grey-0: #F8F8F8;
$color-grey-1: #F1F1F1;
$color-grey-4: #999999;
$color-grey-5: #818181;
$color-grey-6: #565656;
$color-grey-7: #353535;

$color-green: #26A65B;
$color-yellow: #F4D03F;
$color-red: #ED5565;

$primary-color: #F4645F;

$border-color: $color-grey-1;

// Global
$body-color: $color-grey-6;
$body-bg-color: $color-grey-0;
$link-color: #428BCA;

$navbar-bg-color: white;

$navbar-brand-color: $primary-color;

$footer-header-color: $color-grey-4;

// Elements
$box-bg-color: white;

$docs-color-green: $color-green;
$docs-color-yellow: $color-yellow;
$docs-color-red: $color-red;
$docs-bloquote-bg-color: #F4726D;

// Home
$header-bg-url: 'img/hexagons.jpg';
$header-bg-color: #C8544E;