.articles-list.home-page {
  box-shadow: inset 0 1px 0 $color-border;
  background: #f9f9f9;

  .article {
    height: 150px;

    .article-image {
      border-radius: 4px;
      position: absolute;
    }

    .article-description {
      position: absolute;
      bottom: 0;
    }

    &.article-main {
      height: 480px;
    }
  }
}