.articles-list {
  padding: 30px 0 50px 0;
  @include clear;

  & > div > h2 {
    padding-bottom: 35px;
  }

  .article {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 45px;
    border-radius: 2px;
    box-shadow:
      0 1px 1px 0 rgba(#000, .1),
      0 2px 5px rgba(#000, .08);

    a {
      display: block;
      width: inherit;
      height: inherit;
      overflow: hidden;

      .article-image {
        width: inherit;
        height: inherit;
        display: block;
        position: relative;
        z-index: 1;
        left: 0;
        top: 0;
        transform: scale(1.02);
        transform-origin: 50% 50%;
        transition: transform .1s ease;
      }
    }

    &:hover {
      .article-image {
        transform: scale(1);
        transition: transform .5s $swift;
      }
    }

    .article-description {
      @include clear;
      background: #fff;
      box-shadow: 0 -2px 5px rgba(#000, .1);
      position: relative;
      box-sizing: border-box;
      width: 100%;
      padding: 10px 30px;
      color: $color-text;
      z-index: 2;
      font-size: 11px;

      .article-tags {
        position: absolute;
        right: 5px;
        top: -25px;
        white-space: nowrap;
        overflow: hidden;
        font-size: 11px;

        .article-tag {
          display: block;
          float: right;
          margin: 0 2px;
          background: $color-border;
          box-sizing: border-box;
          padding: 0 7px;
          line-height: 16px;
          height: 16px;
          border-radius: 2px;
          text-decoration: none;
          color: $color-text;
          font-weight: bold;
          text-shadow: 0 1px 0 rgba(#fff, .3);

          &:hover {
            background: $color-main;
            text-shadow: none;
            transition:
              background .2s $swift;
          }
        }
      }

      h3 {
        font-size: 14px;
        margin: 0;
        padding: 0 0 10px 0;
        display: block;
        width: 100%;
        white-space: nowrap;

        a {
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          width: 100%;
          text-decoration: none;
        }
      }

      .article-author,
      .article-time {
        &:before {
          @include fa-icon;
          margin-right: 3px;
          opacity: .3;
        }
      }

      .article-author {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 50%;
        float: left;
        display: block;
        white-space: nowrap;

        &:before {
          content: $fa-var-user;
        }
      }

      .article-time {
        float: right;
        font-style: italic;

        &:before {
          content: $fa-var-clock-o;
        }
      }
    }

    .article-content {
      padding: 30px 0 10px 0;
      max-height: 500px;
      overflow: hidden;
      text-overflow: ellipsis;
      
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 100px;
        left: 0;
        pointer-events: none;
        display: block;
        background: linear-gradient(rgba(#fff, 0), rgba(#fff, 1));
      }
    }

    &.article-main {
      border-radius: 3px;

      .article-description {
        padding: 25px 30px;
        font-size: 14px;

        .article-tags {
          font-size: 13px;
          top: -30px;

          .article-tag {
            line-height: 20px;
            height: 20px;
          }
        }

        h3 {
          font-size: 20px;
        }
      }
    }
  }

  footer {
    display: block;
    text-align: center;

    .button {
    }
  }
}