.article {
  box-sizing: border-box;

  & > figure {
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;

    img {
      display: block;
      width: inherit;
    }
  }

  & > h2 {
    text-align: left;
    margin: 30px 0;
  }

  .article-content {
    @include clear;
    background: #fff;
    box-sizing: border-box;
    width: auto;
    position: relative;
    font-size: 15px;
    line-height: 25px;
    padding: 20px 5px;
  }

  p {
    &:first-letter {
      margin-left: 15px;
    }
  }

  blockquote {
    font-size: 13px;
    line-height: 20px;
    color: darken($color-description, 10%);
    font-style: italic;
    background: #faf9f9;
    box-shadow: inset 2px 0 0 $color-border;
    display: block;
    padding: 2px 25px;
    margin: 25px 0;

    p:first-letter {
      margin-left: 0 !important;
    }
  }

  ul {
    list-style: none;
    font-size: 13px;

    li {
      &:before {
        content: '# ';
        margin-right: .25em;
        color: $color-main;
        opacity: .3;
      }
    }

    p {
      margin: 0;
      padding: 0;
      display: inline;
    }
  }

  hr {
    border: none;
    display: block;
    float: none;
    height: 1px;
    width: auto;
    background: $color-border;
  }

  /** ==================================== **
                      CODE
   ** ==================================== **/
  code {
    display: inline-block;
    color: #445;
    font-size: 12px;
    border-radius: 2px;
    background: lighten($color-border, 10%);
    line-height: 16px;
    text-shadow: 0 1px 0 #fff;
    padding: 0 2px;
  }

  pre > code {
    $code-line-height: 24px;

    border-radius: 4px;
    color: $color-text;
    display: block;
    font-size: 14px;
    padding: 15px 20px;
    background: #fff;
    line-height: $code-line-height;
    max-height: 500px;
    overflow: auto;
    text-shadow: 0 0 1px rgba(#000, .1);

    &::-webkit-scrollbar {
      $scrollbar-width: 4px;
      $scrollbar-height: 4px;

      width: $scrollbar-width;
      height: $scrollbar-height;

      &-button {
        width: 0;
        height: 0;
      }

      &-thumb {
        background: $color-light-gray;
        border: 0 none #fff;
        border-radius: ($scrollbar-width + $scrollbar-height) / 4;
        transition: background .4s $swift;

        &:hover {
          background: $color-gray;
        }

        &:active {
          background: darken($color-main, 10%);
        }
      }

      &-track {
        background: #fafbfc;
        border: 0 none #fff;
        border-radius: 50px;
      }

      &-corner {
        background: transparent;
      }
    }

    &,
    & * {
      @include selection {
        color: #fff;
        background: $color-main;
      }
    }

    .code-line {
      height: $code-line-height;
      line-height: $code-line-height;
      display: inline-block;

      .code-line-index {
        cursor: default;
        color: $color-border;
        width: 25px;
        padding: 0 5px;
        font-size: 10px !important;
        text-align: right;
        display: inline-block;
        font-style: normal;
        box-shadow: 1px 0 0 $color-border;
        margin: 0 15px 0 -20px;
        user-select: none;
      }
    }
  }


  /** ==================================== **
                      HEADERS
   ** ==================================== **/
  h1, h2, h3, h4, h5, h6 {
    text-align: left;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  h1,
  h2 {
    color: $color-text;
    font-size: 42px;
    font-weight: 400;
    line-height: 52px;
    padding: 0;
    margin: 50px 0 40px 0;
  }

  h3 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    margin: 50px 0 40px 0;
  }

  h4, h5, h6 {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin: 40px 0 30px 0;

  }

  h5, h6 {
    font-size: 16px;
    font-weight: bold;
  }

  h2, h3, h4, h5, h6 {
    position: relative;

    .anchor {
      position: absolute;
      top: -100px;
      left: -40px;
      width: 0;
      height: 0;
      text-decoration: none;
      font-size: .9em;
      outline: none;

      &:before {
        position: relative;
        top: 100px;
        content: '#';
        color: $color-main;
        opacity: .3;
        text-decoration: none;
        margin-right: 8px;
        font-weight: 200;
        font-size: 20px;
      }

      &:focus,
      &:active {
        &:before {
          opacity: 1;
        }
      }
    }
  }

  h5, h6 {
    .anchor:before {
      display: none;
    }
  }
}


.article-show {
  $article-h-padding: 60px;
  $article-v-padding: 10px;

  background: #fff;
  margin: 50px auto;
  border-radius: 4px;
  box-shadow:
      0 1px 1px 0 rgba(#000, .1),
      0 2px 5px rgba(#000, .08);

  .article {
    & > h2 {
      margin: 20px 0 40px 0;
    }

    & > h2,
    & > hr,
    & > .article-time,
    & > .article-content {
      margin-left: $article-h-padding;
      margin-right: $article-h-padding;
    }

    .article-time {
      text-align: right;
      display: block;
      color: $color-gray;
      font-size: 11px;
      font-style: italic;

      &:before {
        @include fa-icon;
        margin-right: 3px;
        opacity: .3;
        content: $fa-var-clock-o;
      }
    }
  }

  footer {
    $height: 32px;

    padding: 20px $article-h-padding;
    box-shadow: inset 0 1px 0 $color-border;
    display: block;
    height: $height;
    line-height: $height;
    @include clear;

    .article-author {
      display: block;
      float: left;
      height: inherit;
      line-height: inherit;

      img {
        display: block;
        float: left;
        width: $height;
        height: $height;
        border-radius: 50%;
        margin-right: 15px;
      }
    }

    .article-tags {
      float: right;

      .article-tag {
        display: inline-block;
        line-height: 24px;
        height: 24px;
        margin: 0 5px;
        border-radius: 2px;
        background: $color-main;
        padding: 0 10px;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
