.navbar-laravel {
	min-height:80px;
	background: url("../img/map.png") no-repeat;
	background-position: left top -28px;
	background-color: #444;
	/*border-color: #f0523f;*/
	border-bottom: 6px solid #f0523f;
	padding: 12px 0px;
	/*margin-bottom: 0px !important;*/
}
.brand-area{
	opacity: 0.9;
	background-color: #444;
}
.navbar-laravel .navbar-brand {
	color: #FAFAFA;
	opacity: 1;
}
.navbar-laravel .navbar-brand:hover,
.navbar-laravel .navbar-brand:focus {
	color: #FAFAFA;
	background-color: transparent;
}
.navbar-laravel .navbar-text {
	color: #FAFAFA;
}
.navbar-laravel .navbar-nav > li > a {
	color: #FAFAFA;
}
.navbar-laravel .navbar-nav > li > a:hover,
.navbar-laravel .navbar-nav > li > a:focus {
	color: #f0f0f0;
	background-color: transparent;
}
.navbar-laravel .navbar-nav > .active > a,
.navbar-laravel .navbar-nav > .active > a:hover,
.navbar-laravel .navbar-nav > .active > a:focus {
	color: #e7e7e7;
	background-color: #555;
}
.navbar-laravel .navbar-nav > .disabled > a,
.navbar-laravel .navbar-nav > .disabled > a:hover,
.navbar-laravel .navbar-nav > .disabled > a:focus {
	color: #ccc;
	background-color: transparent;
}
.navbar-laravel .navbar-toggle {
	border-color: #FAFAFA;
}
.navbar-laravel .navbar-toggle:hover,
.navbar-laravel .navbar-toggle:focus {
	background-color: #FAFAFA;
}
.navbar-laravel .navbar-toggle .icon-bar {
	background-color: #888;
}
.navbar-laravel .navbar-collapse,
.navbar-laravel .navbar-form {
	border-color: #e7e7e7;
}
.navbar-laravel .navbar-nav > .open > a,
.navbar-laravel .navbar-nav > .open > a:hover,
.navbar-laravel .navbar-nav > .open > a:focus {
	color: #555;
	background-color: #e7e7e7;
}
@media (max-width: 767px) {
	.navbar-laravel .navbar-nav .open .dropdown-menu > li > a {
		color: #FAFAFA;
	}
	.navbar-laravel .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-laravel .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #333;
		background-color: transparent;
	}
	.navbar-laravel .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-laravel .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-laravel .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #555;
		background-color: #e7e7e7;
	}
	.navbar-laravel .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-laravel .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-laravel .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #ccc;
		background-color: transparent;
	}
}
.navbar-laravel .navbar-link {
	color: #FAFAFA;
}
.navbar-laravel .navbar-link:hover {
	color: #333;
}



.stripe {
	background-color: #f8f8f8;
	border-bottom: 1px solid #e7e7e7;
}

footer{
	margin-top: 100px;
	padding: 30px 0 5px 0px;
	border-top: 1px solid #7d7c7e;
}

h1, h2{
	color: #f0523f;
	margin: 0px 0 15px 0;
}

h2 {
	margin: 32px 0 15px 0;
	font-size: 28px;
	color: #f0523f;
}

h3 {
	margin: 32px 0 15px 0;
	font-size: 23px;
}

h4 {
	margin: 25px 0 15px 0;
	font-size: 19px;
}

a {
	color: #2788e1;
}
a:hover {
	color: #277ed3;
}


code {
	background: #f6f6f6;
	color: #d34830;
}

.sidebar > ul > li {
	margin-bottom: 20px;
	list-style: none;
	color: #f0523f;
	font-size: 14px;
	font-weight: bold;
}

.sidebar > ul > li > ul {
	padding-left: 20px;
}

.sidebar > ul > li > ul > li {
	list-style: none;
	font-weight: normal;
}

.docs ul {
	padding-left: 0px;
	padding-bottom: 30px;
	border-bottom: 1px solid #eee;
}

.docs ul li {
	list-style: none;
	font-size: 16px;
	font-weight: normal;
}