@font-face {
  font-family: 'Raleway';
  font-weight: normal;
  src: url('/assets/fonts/Raleway-Regular.woff2') format('woff2'),
  url('/assets/fonts/Raleway-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  src: url('/assets/fonts/Raleway-Bold.woff2') format('woff2'),
  url('/assets/fonts/Raleway-Bold.woff') format('woff');
}
