.form-field {
  margin-bottom: 20px;

  label {
    display: block;
    font-size: 1.4rem;
    line-height: 24px;
  }

  input {
    width: 100%;
    border: 1px solid #dadada;
    padding: 7px 10px;
    line-height: 1;
    border-radius: 3px;
  }
}
