.laravel-header {
  .contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  a {
    &.active,
    &:hover,
    &:focus {
      color: $colors-red-laravel;
    }
  }

  .logo,
  .top-navigation {
    padding: 20px 0 14px;
  }

  .logo {
    flex-basis: 40%;
    max-width: 40%;
    padding-left: 20px;

//     a {
//       display: flex;
//       flex-direction: row;
//       align-items: center;
    // }

    svg {
      height: 20px;
      fill: $colors-red-laravel;
    }
  }

  .logo-subtext {
    display: none;
//     p {
//       line-height: 1;
//
//       &:first-of-type {
//         margin-bottom: 2px;
//         font-size: 1.6rem;
//         font-weight: 700;
//         text-transform: uppercase;
//       }
//
//       &:last-of-type {
//         color: $colors-grey;
//         font-size: 1.2rem;
//       }
//     }
  }

  .top-navigation {
    flex-basis: 60%;
    max-width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
    li {
      &:not(:first-of-type) {
        margin-left: 20px;
      }
    }

    a {
      display: block;
    }
  }

  .bottom-navigation {
    @include font-size(1.4);

    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    max-width: 100%;
    padding: 12px 20px;
    // box-shadow: $main-header-navigation-shadow;
    background-color: #f7f6f6;
    // overflow-y: scroll;

    li {
      &:not(:first-of-type) {
        margin-left: 20px;
      }
    }

    a {
      display: block;
      color: #888;

      &.active,
      &:hover,
      &:focus {
        color: $colors-red-laravel;
      }
    }
  }

  .navigation {
//     position: absolute;
//     top: 72px;
//     left: 0;
//     width: 100%;
//     max-height: 0;
//     transition: max-height .3s;
//     overflow: hidden;
//     z-index: 10;
//
    ul {
      display: flex;
      flex-direction: row;
//       padding: 5px 15px;
//       background-color: $main-header-navigation-bg-color;
    }

//     li {
//       line-height: 40px;
//     }
//
//     a {
//       display: block;
//     }
//
//     &.opened {
//       max-height: 500px;
//     }
  }
//
  @media (min-width: $screen-sm-min) {
    .contents {
      max-width: $container-sm;
    }
//
//     .menu {
//       display: none;
//     }
//
//     .navigation {
//       position: relative;
//       top: 0;
//       width: auto;
//       max-height: initial;
//
//       ul {
//         flex-direction: row;
//         background-color: transparent;
//       }
//
//       li {
//         &:not(:last-of-type) {
//           margin-right: 15px;
//         }
//       }
//     }
  }

  @media (min-width: $screen-md-min) {
    .contents {
      max-width: $container-md;
    }
//
//     .navigation {
//       li {
//         &:not(:last-of-type) {
//           margin-right: 30px;
//         }
//       }
//     }
  }
//
  @media (min-width: $screen-lg-min) {
    .contents {
      max-width: $container-lg;
    }
  }
}
