// sass-lint:disable no-ids
#app {
  height: 100%;
}
// sass-lint:enable no-ids

body {
  color: #333;
  font-family: 'Raleway', Arial, sans-serif;
  font-feature-settings: 'lnum' 1;
}

.laravel {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  // border: 5px solid $colors-red-laravel;
  font-size: $font-size-base + rem;
  line-height: $line-height-base / $font-size-base;
}

.laravel-main {
  flex-grow: 1;
}
