@keyframes fadeLeft {
  0% {
    opacity: .15;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .15;
  }
}

@keyframes fadeRight {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .15;
  }

  100% {
    opacity: 1;
  }
}

.loading {
  position: relative;
  width: $loading-indicator-width;
  height: $loading-indicator-height;
  margin: 0 auto;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    width: $loading-object-size;
    height: $loading-object-size;
    border-radius: 50%;
    background-color: $loading-object-color;
    content: '';
  }

  &::before {
    left: 0;
    animation: fadeLeft 1s ease infinite;
  }

  &::after {
    left: $loading-object-size + $loading-object-distance-between;
    animation: fadeRight 1s ease infinite;
  }
}
