@font-face {
  font-family: 'Lato';
  font-weight: normal;
  src: url('/assets/fonts/Lato-Regular.woff2') format('woff2'),
  url('/assets/fonts/Lato-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 600;
  src: url('/assets/fonts/Lato-Semibold.woff2') format('woff2'),
  url('/assets/fonts/Lato-Semibold.woff') format('woff');
}
