// sass-lint:disable no-ids
#app {
  height: 100%;
}
// sass-lint:enable no-ids

body {
  background-color: $colors-grey-1;
  font-family: 'ProximaNovaW08-Regular', 'Open Sans', Arial, sans-serif;
}

a {
  &.active {
    color: $colors-red;
  }
}
