header {
  $height: 70px;

  height: $height;
  line-height: $height;
  background: #fff url(/img/cloud-bar.png) center top repeat-x;
  box-shadow: inset 0 -1px 0 $color-border;
  padding: 10px 50px 0 50px;

  .logo {
    float: left;
    display: block;
    height: $height;
    line-height: $height;
    text-decoration: none;
    box-shadow: 1px 0 0 $color-border;
    box-sizing: border-box;
    color: #525252;
    width: 230px;

    svg {
      $size: 36px;
      float: left;
      height: $size;
      line-height: $size;
      margin: (($height - $size) / 2) 0;
    }

    h1,
    span {
      display: block;
      color: #525252;
      margin: 0;
      padding: 0;
      text-align: left;
    }

    h1 {
      font-weight: 400;
      font-size: 24px;
      line-height: 24px;
      margin-top: 15px;
    }

    span {
      font-size: 11px;
      line-height: 11px;
      font-weight: 300;
    }
  }


  nav {
    user-select: none;
    float: right;
    padding-right: 20px;

    a,
    .dropdown {
      display: inline-block;
      user-select: none;
      color: $color-text;
      text-decoration: none;
      font-size: 15px;
      cursor: pointer;
      position: relative;
      margin: 0 0 0 25px;

      &:hover {
        color: $color-main;
      }
    }

    a.active {
      color: $color-main;
    }
  }


  .auth-button {
    display: inline-block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: (($height - 32px) / 2) 0;
    margin-left: 25px;
    box-shadow: 0 0 0 1px $color-border;
    line-height: 32px;
    font-size: 16px;
    color: $color-text;
    text-align: center;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform .2s $bounce;

    &:after {
      @include fa-icon;
      content: $fa-var-lock;
    }

    &:hover {
      color: $color-main;
      box-shadow: 0 0 0 1px $color-main;
      transform: scale(.9);

      &:after {
        content: $fa-var-unlock-alt;
      }
    }

    &:active {
      background: $color-main;
      color: #fff;
      transform: scale(.9);
    }
  }
}
