.button, button {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: $button-default-color;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	text-transform: uppercase;
	white-space: nowrap;
	background-color: $button-default-bg-color;
	border-radius: 4px;
	border: 2px solid darken($button-default-bg-color, 5%);
	cursor: pointer;
	outline: 0;

	@extend %open-sans;
	@extend %transition;

	&:hover, &:focus {
		color: $button-default-hover-color;
		background-color: $button-default-hover-bg-color;
		border-color: darken($button-default-hover-bg-color, 5%);
	}

	&.success {
		color: $button-success-color;
		background-color: $button-success-bg-color;
		border-color: darken($button-success-bg-color, 5%);

		&:hover, &:focus {
			color: $button-success-hover-color;
			background-color: $button-success-hover-bg-color;
			border-color: darken($button-success-hover-bg-color, 5%);
		}
	}

	i {
		margin: 0;
	}

	.fa {
		display: block;
	}

	&.small {
		height: 26px;
		line-height: 26px;
		padding: 0 15px;

		i {
			width: 10px;
			height: 10px;
		}
	}
}