pre > code
{
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}

code
{
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 1.2rem;
    margin: 0 .2rem;
    padding: .2rem .5rem;
    white-space: nowrap;
    color: $primary-color;
    border-radius: 4px;
    background: $color-grey-1;
}
