.row.with-border {
	section {
		box-shadow: 1px 0 0 0 #EEEEEE;

		&:last-of-type {
			box-shadow: none;
		}
	}
}

.hexagons {
	background: $header-bg-color url('/img/partials/hexagons.png');
}

.c-white {
	color: white;
}

.c-green {
	color: $color-green;
}

.c-yellow {
	color: $color-yellow;
}

.c-red {
	color: $color-red;
}

.bg-white {
	background-color: white;
}

.bg-dark-grey {
	background-color: $color-grey-8;
}

.letter-spacing-stiff {
	letter-spacing: -0.03em;
}

.p-20-0 {
	padding: 20px 0;
}

.p-35-45 {
	padding: 35px 45px;
}

.m-l-10 {
	margin-left: 10px;
}

.m-b-0 {
	margin-bottom: 0;
}

.m-b-25 {
	margin-bottom: 25px;
}

.m-b-30 {
	margin-bottom: 30px;
}

.btn-corner {
	position: absolute;
	top: 0;
	right: 0;
}

.position-relative {
	position: relative;
}

header.bordered {
	padding-bottom: 20px;
	border-bottom: 2px solid $border-color;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.full-width {
	width: 100%;
}