.docs {
	.sidebar section {
		padding-top: 45px;

		ul {
			list-style-type: none;
			padding: 0;
			margin-bottom: 30px;

			li {
				color: $primary-color;
				font-size: 16px;
				font-weight: bold;

				a {
					position: relative;
					color: $color-grey-6;
					font-size: 14px;
					font-weight: normal;
					padding-left: 17px;

					&:before {
						content: "";
						position: absolute;
						top: 5px;
						left: 0;
						width: 10px;
						height: 10px;
						border-radius: 50%;
						background-color: $color-grey-2;
					}
				}
			}
		}

		> ul ul {
			padding: 3px 0 0 3px;
		}

		li.active a, a:hover, a:focus {
			color: $primary-color;

			&:before {
				background-color: $primary-color;
			}
		}

	}

	.main {
		font-family: Verdana, Tahoma, Arial, sans-serif;
		font-size: 14px;
		line-height: 1.6;

		h1, h2, h3, h4, h5, h6 {
			font-family: 'Open Sans', Tahoma, Arial, sans-serif;
		}

		h1 {
			font-size: 28px;
			text-transform: uppercase;
			color: $primary-color;
		}
		h2 {
			font-size: 20px;
			font-weight: 400;
			text-transform: uppercase;
			color: $primary-color;

			border-top: 1px solid #EEEEEE;
			padding-top: 35px;
			margin-bottom: 20px;

			a {
				position: relative;
				color: $primary-color;

				@extend %hash-tag;
			}
		}
		h3 {
			font-size: 17px;
			font-weight: 400;
			color: $color-grey-6;
			padding-top: 10px;
			margin-bottom: 15px;
		}

		p {
			margin-bottom: 15px;
		}

		a {
			color: $color-green;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 15px 0 20px;

			li {
				position: relative;
				margin-bottom: 5px;

				@extend %hash-tag;

				a {
					color: $primary-color;
				}
			}
		}

		.status- {
			&green {
				border-top: 10px solid $docs-color-green;
			}
			&yellow {
				border-top: 10px solid $docs-color-yellow;
			}
			&red {
				border-top: 10px solid $docs-color-red;
			}
		}

		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
		}

		blockquote {
			background: $docs-bloquote-bg-color;
			border-radius: 2px;
			max-width: 100%;
			padding: 18px 20px;
			font-size: 14px;
			border: 0;

			p, a {
				color: white;
			}

			p:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}