// Homepage Header section
.homepage {
	padding: 30px 0;

	h1, h2 {
		text-transform: initial;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, .25)
	}

	h1 {
		font-size: 4rem;

		@media (max-width: $screen-xs-max) {
			font-size: 1.8rem;
		}
	}
}

// Homepage Widget
.widget {
	li {
		margin-bottom: 25px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
	.title a {
		font-size: 16px;
	}
	.date {
		padding-right: 7px;
		font-style: italic;
	}
}

// Box
.box {
	background: $box-bg-color;
	border: 1px solid $border-color;
	padding: 45px;
	margin-bottom: 30px;
}

.popup {
	padding: $popup-padding;
	margin-bottom: 30px;

	@media (max-width: $screen-xs-max) {
		padding: 20px;
		margin-bottom: 10px;
	}

	@extend %border-radius;

	header {
		margin-bottom: 20px;
	}

	.header-icon {
		text-align: center;

		i {
			color: white;
			background-color: $color-grey-5;
			margin: 0 auto 40px auto;
			font-size: 6rem;
			width: 150px;
			height: 150px;
			padding: 35px;
			border-radius: 50%;
			border: 10px solid $border-color;
		}

		&.success i {
			color: white;
			background-color: $color-green;
		}

		&.danger i {
			color: white;
			background-color: $color-red;
		}
	}

	p:last-of-type {
		margin-bottom: 0;
	}
}

.fullScreen {
	overflow: hidden;
	padding: 0;
	margin: 0;

	#ace {
		height: auto !important;
		width: auto !important;
		border: 0;
		margin: 0;
		position: fixed !important;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		min-height: inherit;
	}

	#fullScreen {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1001;
		margin: 0;
		line-height: normal;
		border: none;
		transition: none;
		border-radius: 0 0 0 4px;
	}
}

#fullScreen {
	background-color: $color-grey-2;
	border: none;
	border-radius: 4px 0 0;
	margin-right: 15px;
	padding: 5px 7px;
	position: absolute;
	right: 0;
	transition: none;

	small {
		@extend %open-sans;
		line-height: 16px;
		margin-left: 10px;
		vertical-align: text-top;
	}
}

div#ace {
	min-height: 700px;
	font-size: $ace-editor-font-size;
	border-width: 2px 0;
	margin: 0 -35px;
	border-style: solid;
	border-color: $color-grey-2;

	@media (max-width: $screen-sm-min) {
		margin: 0 -20px;
	}
}
