// Homepage Header section
.homepage {
	padding: 30px 0;

	h1, h2 {
		text-transform: initial;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, .25)
	}

	h1 {
		font-size: 44px;
	}
	h2 {
		font-size: 20px;
		font-weight: 600;
	}
}

// Homepage Widget
.widget {
	li {
		margin-bottom: 25px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
	.title a {
		font-size: 16px;
	}
	.date {
		padding-right: 7px;
		font-style: italic;
	}
}

// Box
.box {
	background: $box-bg-color;
	border: 1px solid $border-color;
	padding: 45px;
	margin-bottom: 30px;
}

.popup {
	padding: $popup-padding;
	margin: 30px 0;

	@extend %border-radius;

	header {
		border-bottom: 2px solid $border-color;
		margin-bottom: 30px;
	}

	.header-icon {
		text-align: center;

		i {
			color: white;
			background-color: $color-grey-5;
			margin: 0 auto 40px auto;
			font-size: 6rem;
			width: 150px;
			height: 150px;
			padding: 35px;
			border-radius: 50%;
			border: 10px solid $border-color;
		}

		&.success i {
			color: white;
			background-color: $color-green;
		}

		&.danger i {
			color: white;
			background-color: $color-red;
		}
	}

	p:last-of-type {
		margin-bottom: 0;
	}
}

div#ace {
	min-height: 750px;
}