body > footer {
	padding: 50px 0 30px 0;
	margin-top: 30px;

	header {
		color: $footer-header-color;
		text-transform: uppercase;

		h4 {
			margin-bottom: 1rem;
		}
	}

	a {
		color: $footer-link-color;
		border-bottom: none;

		&:focus, &:hover {
			color: $primary-color;
		}
	}

	ul li {
		margin-bottom: .5rem;
	}
}