input, textarea, select {
	width: 100%;
	padding: 6px 10px;
	background-color: #FFFFFF;
	border: 2px solid $input-border-color;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
	outline: 0;
	-webkit-appearance: none;

	@extend %transition;

	&:focus, &:hover {
		border: 2px solid $input-border-hover-color;
	}
}

input, select {
	height: 38px;
}

input, textarea {
	appearance: none;
}

textarea {
	min-height: 65px;
	padding-top: 6px;
	padding-bottom: 6px;
}

label,
legend {
	display: block;
	font-size: 1.3rem;
	font-weight: 700;
	color: $color-grey-4;
	text-transform: uppercase;
	margin-bottom: .5rem;

	@media (max-width: $screen-xs-max) {
		font-size: 1.2rem;
	}
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
}

label > .label-body {
	display: inline-block;
	margin-left: .5rem;
	font-weight: normal;
}

div.form-group {
	margin-bottom: 15px;

	&:last-of-type {
		margin-bottom: 30px;
	}

	&.has-error {
		input {
			border-color: $color-red;
		}
		p {
			color: $color-red;
		}
	}

	p {
		font-size: 1.4rem;
		margin: 10px 0;
	}
}

form p {
	&:last-of-type {
		margin-bottom: 0;
	}
}