* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.6;
	font-weight: 400;
	color: $body-color;
	background-color: $body-bg-color;
	position: relative;
}

a {
	color: $link-color;
	text-decoration: none;

	@extend %transition;

	&:hover {
		color: $link-hover-color;
	}
}

b, strong {
	font-weight: 600;
}

table {
	width: 100%;
	margin-bottom: 30px;

	thead th {
		font-size: 12px;
		text-transform: uppercase;
	}
	tbody {

	}
	th, td {
		line-height: 35px;
		padding: 0 10px;
		border: 2px solid $border-color;
	}
	i {
		margin-right: 3px;
	}
}

span[data-toggle=dropdown] {
	cursor: pointer;

	@extend %transition;
}

button,
.button {
	margin-bottom: 1rem;
}

select,
fieldset {
	margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
	margin-bottom: 2.5rem;
}


hr {
	margin-top: 3rem;
	margin-bottom: 3.5rem;
	border-width: 0;
	border-top: 1px solid #E1E1E1;
}