* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	line-height: 1.6;
	font-weight: 400;
	color: $body-color;
	background-color: $body-bg-color;
	position: relative;
}

a {
	color: $link-color;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid $color-grey-3;

	@extend %transition;

	&:hover {
		color: $link-hover-color;
		border-color: $primary-color;
	}
}

b, strong {
	font-weight: 600;
}

table {
	width: 100%;
	margin-bottom: 30px;

	thead th {
		font-size: 1.2rem;
		text-transform: uppercase;
	}
	tbody {
		font-size: 1.4rem;
	}
	th, td {
		line-height: 35px;
		padding: 0 10px;
		border: 2px solid $border-color;
	}
	i {
		margin-right: 3px;
	}
}

span[data-toggle=dropdown] {
	cursor: pointer;

	@extend %transition;
}

select, fieldset {
	margin-bottom: 1.5rem;
}

blockquote {
	margin: 0;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol {
	margin-bottom: 2rem;
}

hr {
	margin: 2rem 0;
	border-width: 0;
	border-top: 2px solid $border-color;
}

img {
	max-width: 100%;
}