$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

$container-sm: (720px + $grid-gutter-width) !default;
$container-md: (940px + $grid-gutter-width) !default;
$container-lg: (1140px + $grid-gutter-width) !default;

// Mixins
@mixin make-grid-columns($i: 1, $list: ".col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}") {
	@for $i from (1 + 1) through $grid-columns {
		$list: "#{$list}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
	}
	#{$list} {
		position: relative;
		float: left;
		min-height: 1px;
		padding-left: ($grid-gutter-width / 2);
		padding-right: ($grid-gutter-width / 2);
	}
}

@mixin calc-grid-column($index, $class, $type) {
	@if ($type == width) and ($index > 0) {
		.col-#{$class}-#{$index} {
			width: percentage(($index / $grid-columns));
		}
	}
	@if ($type == push) and ($index > 0) {
		.col-#{$class}-push-#{$index} {
			left: percentage(($index / $grid-columns));
		}
	}
	@if ($type == push) and ($index == 0) {
		.col-#{$class}-push-0 {
			left: auto;
		}
	}
	@if ($type == pull) and ($index > 0) {
		.col-#{$class}-pull-#{$index} {
			right: percentage(($index / $grid-columns));
		}
	}
	@if ($type == pull) and ($index == 0) {
		.col-#{$class}-pull-0 {
			right: auto;
		}
	}
	@if ($type == offset) {
		.col-#{$class}-offset-#{$index} {
			margin-left: percentage(($index / $grid-columns));
		}
	}
}

@mixin loop-grid-columns($columns, $class, $type) {
	@for $i from 0 through $columns {
		@include calc-grid-column($i, $class, $type);
	}
}

@mixin make-grid($class) {
	@include loop-grid-columns($grid-columns, $class, width);
	@include loop-grid-columns($grid-columns, $class, pull);
	@include loop-grid-columns($grid-columns, $class, push);
	@include loop-grid-columns($grid-columns, $class, offset);
}

// Elements
.container {
	margin: 0 auto;
	padding: 0 15px;

	@extend %clearfix;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}
	@media (min-width: $screen-md-min) {
		width: $container-md;
	}
	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}

}

.row {
	margin-left: ($grid-gutter-width / -2);
	margin-right: ($grid-gutter-width / -2);

	@extend %clearfix;
}

// Columns
@include make-grid-columns;

@include make-grid(xs);

@media (min-width: $screen-sm-min) {
	@include make-grid(sm);
}

@media (min-width: $screen-md-min) {
	@include make-grid(md);
}

@media (min-width: $screen-lg-min) {
	@include make-grid(lg);
}

@media (max-width: $screen-xs-max) {
//	.no-gutter {
		//		.row {
		//			margin: 0;
		//		}
		//
		//		[class*="col-"] {
		//			padding: 0;
		//		}
//	}
}