ul, ol {
	padding-left: 0;
	margin-top: 0;
}

ul {
	list-style: circle inside;

	li {
		position: relative;
	}

	&.inline {
		display: inline;

		> li {
			float: left;
			list-style-type: none;
			padding: 0 15px;
		}

		@extend %clearfix;
	}

	&.unstyled {
		> li {
			list-style-type: none;
		}
	}
}

ol {
	list-style: decimal inside;
}