ul, ol {
	padding-left: 0;
	margin-top: 0;
}

ul {
	list-style: circle inside;

	li {
		position: relative;
	}

	&.inline,
	&.tabs,
	&.tab-contents {
		> li {
			display: inline;
			list-style-type: none;
			padding: 0 15px;
		}

		@extend %clearfix;
	}

	&.unstyled {
		> li {
			list-style-type: none;
		}
	}

	&.tabs {
		width: 100%;
		margin-bottom: 0;
		border-bottom: 2px solid $color-grey-3;

		li {
			float: left;
			font-size: 1.3rem;
			font-weight: 600;
			text-transform: uppercase;
			cursor: pointer;

			@extend %transition;

			&.active {
				background-color: white;
				border-radius: 4px 4px 0 0;
			}
		}

		p {
			padding: 15px;
			margin-bottom: 0;
		}
	}

	&.tab-contents {
		width: 100%;

		li {
			display: none;
			padding: 0;
			width: 100%;

			&.visible {
				display: block;
			}
		}
		section {
			background-color: white;
			padding: 35px;
			border-radius: 0 0 4px 4px;

			p:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

ol {
	list-style: decimal inside;
}