%transition {
	transition: all ease-in-out .6s, all ease-in-out .6s;
}

%transition-short {
	transition: all ease-in-out .35s, all ease-in-out .35s;
}

%transition-long {
	transition: all ease-in-out .9s, all ease-in-out .9s;
}

%hash-tag {
	&:before {
		content: '#';
		font-family: 'Tahoma', sans-serif;
		color: lighten($primary-color, 20%);
		margin-right: 8px;
	}
}

%clearfix {
	&:before, &:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

%border-radius {
	border-radius: 4px;
}