nav {
	font-weight: 600;
	text-transform: uppercase;
	line-height: $nav-height;
	background-color: $nav-bg-color;

	div.brand {
		float: left;
		height: $nav-height;
		width: $nav-brand-width;

		a {
			font-size: 20px;
			color: $nav-brand-color;

			&:hover, &:focus {
				color: lighten($nav-brand-color, 10);
			}
		}
	}

	ul, li {
		margin-bottom: 0;
	}

	ul.inline > li {
		font-size: 13px;
		padding: 0 15px;

		> a, span {
			padding-bottom: 5px;
			border-bottom: 2px solid $nav-bg-color;

			&:hover, &:focus {
				color: $primary-color;
				border-color: $primary-color;
			}
		}
	}

	span {
		position: relative;

		&:after {
			content: "";
			position: absolute;
			top: 7px;
			right: -12px;
			border-top: 4px solid;
			border-right: 4px solid transparent;
			border-left: 4px solid transparent;
		}
	}

	ul.dropdown {
		opacity: 0;
		position: absolute;
		top: $nav-dropdown-height;
		right: 0;
		margin: 0;
		text-transform: none;
		background-color: $nav-bg-color;
		z-index: 10;
		border: 2px solid $border-color;
		border-top-color: $primary-color;

		@extend %transition;

		li {
			font-size: 13px;
			list-style-type: none;
			line-height: $nav-dropdown-line-height;
			padding: 0 20px;
			border-bottom: 1px solid $border-color;
			white-space: nowrap;

			&:last-of-type {
				border-bottom: 0;
			}

			a {
				color: $nav-dropdown-link-color;

				&:hover, &:focus {
					color: $primary-color;
				}
			}
		}

		&.visible {
			opacity: 1;
		}
	}
}

.subnav {
	background-color: $subnav-bg-color;
	line-height: $subnav-height;

	.container {
		line-height: 50px;
	}

	ul {
		margin-bottom: 0;

		li a {
			padding: 6px 8px;
			border-radius: 4px;
		}

		li.active a, li a:hover, li a:focus {
			background-color: $color-grey-6;
			color: white;
		}
	}
}