nav {
	text-transform: uppercase;
	line-height: $nav-height;
	margin-bottom: $nav-margin-bottom;
	background-color: $nav-bg-color;
	font-weight: 600;

	@extend %open-sans;

	a {
		color: $color-grey-6;
	}

	div.brand {
		float: left;
		height: $nav-height;
		width: $nav-brand-width;

		a {
			font-size: 20px;
			color: $nav-brand-color;

			&:hover, &:focus {
				color: lighten($nav-brand-color, 10);
			}
		}
	}

	div.header {
		@extend %clearfix;
	}
	div.collapse {
		display: none;
		margin: 0 -15px;

		ul {
			font-size: 1.3rem;
			list-style-type: none;
			margin: 0 -15px;

			li {
				padding: 0 15px;
				line-height: 40px;

				&:hover {
					background-color: darken($nav-bg-color, 10%);
				}

				&.active {
					background-color: darken($nav-bg-color, 15%);
				}

				a, span {
					padding: 0 15px;
					display: block;
				}

				span {
					position: relative;

					&:after {
						content: "";
						position: absolute;
						top: 18px;
						right: 15px;
						border-top: 4px solid;
						border-right: 4px solid transparent;
						border-left: 4px solid transparent;
					}
				}
			}
		}
	}

	ul.dropdown {
		display: none;
		opacity: 0;
		background-color: darken($nav-bg-color, 2%);

		@extend %transition;

		&.visible {
			display: block;
			opacity: 1;
		}
	}

	.toggle-button {
		cursor: pointer;
		padding: 0 10px;
	}

	@media (min-width: $screen-sm-min) {
		div.toggle-button {
			display: none;
		}
		div.header {
			float: left;
		}
		div.collapse {
			display: block !important;
			margin: 0;

			@extend %clearfix;

			ul {
				float: right;
				margin: 0;

				li {
					float: left;
					line-height: $nav-height;

					&:hover, &.active {
						background-color: $nav-bg-color;
					}

					a, span {
						display: inline;
						padding: 0;
					}

					span:after {
						top: 7px;
						right: -12px;
					}
				}

				> li {
					> a, span {
						padding-bottom: 5px;
						border-bottom: 2px solid $nav-bg-color;
					}

					&.active > a,
					a:hover, a:focus,
					span:hover, span:focus {
						color: $primary-color;
						border-color: $primary-color;
					}
				}

				&.dropdown {
					display: block;
					position: absolute;
					top: $nav-dropdown-height;
					right: 0;
					text-transform: none;
					background-color: $nav-bg-color;
					z-index: -1;
					border: 2px solid $border-color;
					border-top-color: $primary-color;
					border-radius: 0 0 4px 4px;

					li {
						width: 100%;
						line-height: $nav-dropdown-line-height;
						padding: 0 20px;
						white-space: nowrap;
						border-bottom: 1px solid $border-color;

						&:last-of-type {
							border-bottom: 0;
						}

						a {
							color: $nav-dropdown-link-color;
							border-bottom: none;

							&:hover, &:focus {
								color: $primary-color;
							}
						}
					}

					&.visible {
						z-index: 10;

					}
				}
			}
		}
	}

	@media (max-width: $screen-xs-max) {
		margin-bottom: 10px;
	}
}

.subnav {
	background-color: $subnav-bg-color;
	line-height: $subnav-height;
	margin-bottom: $nav-margin-bottom;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;

	.container {
		line-height: 50px;
	}

	ul {
		margin-bottom: 0;

		li {
			padding: 0;

			a {
				padding: 6px 8px;
				color: $color-grey-4;
				border-radius: 3px;
			}
		}

		li.active a, li a:hover, li a:focus {
			background-color: $color-grey-2;
			color: $color-grey-8;
		}
	}

	.docs-menu-button {
		display: none;
		font-size: 1.4rem;
		color: white;
		background-color: $color-green;
		padding: 6px 10px;
		margin-right: 10px;
		border-radius: 2px;
		cursor: pointer;
	}

	@media (max-width: $screen-xs-max) {
		margin-bottom: 0;

		.container {
			padding: 0 10px;
		}
	}

	@media (max-width: $screen-sm-max) {
		.docs-menu-button {
			display: inline;
		}
	}
}

nav, .subnav {
	a {
		border-bottom: none;
	}
}