@mixin responsive-invisibility($parent) {
	#{$parent} {
		display: none !important;
	}
}

@media (max-width: $screen-xs-max) {
	@include responsive-invisibility('.hidden-xs');
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	@include responsive-invisibility('.hidden-sm');
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	@include responsive-invisibility('.hidden-md');
}

@media (min-width: $screen-lg-min) {
	@include responsive-invisibility('.hidden-lg');
}
