h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 600;
	line-height: 1.5;
}

h1, .h1 {
	font-size: 2.4rem;
	text-transform: uppercase;
	color: $primary-color;

	@media (max-width: $screen-xs-max) {
		font-size: 1.8rem;
	}
}

h2, .h2 {
	font-size: 1.8rem;
	font-weight: normal;

	@media (max-width: $screen-xs-max) {
		font-size: 1.6rem;
	}
}

h3, .h3 {
	font-size: 1.7rem;
}

h4 {
	font-size: 1.6rem;
}

h5, .h5 {
	font-size: 1.5rem;
}

h6, .h6 {
	font-size: 1.4rem;
}

p {
	margin-top: 0;

	&.big {
		font-size: 2rem;
	}

	&.small {
		font-size: 1.4rem;
	}

	&.tiny {
		font-size: 1.2rem;
	}

	&.last {
		margin-bottom: 0;
	}
}