.users-list td {
	vertical-align: middle;
	padding: 0;
	margin: 0;
	border: none;
	line-height: normal;

	.space {
		height: 40px;
	}
}

.users-list_avatar {
	border-radius: 50%;
}

.users-list_info {
	padding-left: 40px;


	.username {
		margin-bottom: 20px;
		display: block;
		font-size: 1.4em;
		line-height: 0.9em;
	}
}

.search-users {
	position: relative;
	margin-bottom: 20px;

	button {
		margin: 2px;
		vertical-align: top;
		padding: 0 14px;
		position: absolute;
		right: 0;
		top: 0;
		height: 34px;
		border-width: 0 0 0 2px;
		border-radius: 0 4px 4px 0;
	}
}

.user-online {
	background-color: #26a65b !important;
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	margin-left: 5px;
	width: 10px;

	&_inline {
		margin-right: 5px;
		margin-left: 0;
	}
}

.users-statuses {
	margin: 10px 0;

	& > a {
		margin: 0 5px;
		color: $color-green;
		border-color: lighten($color-green, 15%);

		&:hover {
			border-color: $color-green;
		}
	}
}
