// Colors
$color-grey-0: #F8F8F8;
$color-grey-1: #F1F1F1;
$color-grey-2: #E8E8E8;
$color-grey-3: #DFDFDF;
$color-grey-4: #999999;
$color-grey-5: #818181;
$color-grey-6: #565656;
$color-grey-7: #353535;
$color-grey-8: #27272B;

$color-green: #26A65B;
$color-yellow: #F4D03F;
$color-red: #ED5565;

$primary-color: #F4645F;

$border-color: $color-grey-1;

// Global
$body-color: $color-grey-6;
$body-bg-color: $color-grey-1;
$link-color: $color-grey-6;
$link-hover-color: $color-grey-8;

// Nav
$nav-height: 70px;
$nav-bg-color: white;
$nav-margin-bottom: 30px;
$nav-brand-width: 160px;
$nav-brand-color: $primary-color;
$nav-dropdown-height: 60px;
$nav-dropdown-line-height: 40px;
$nav-dropdown-link-color: $color-grey-4;
// Subnav
$subnav-bg-color: white;
$subnav-height: 50px;
// Footer
$footer-header-color: $color-grey-3;
$footer-link-color: $color-grey-4;
$footer-link-hover-color: $color-grey-5;

// Elements
$box-bg-color: white;

$docs-color-green: $color-green;
$docs-color-yellow: $color-yellow;
$docs-color-red: $color-red;
$docs-bloquote-bg-color: #F4726D;

$popup-padding: 60px 45px;

// Home
$header-bg-url: 'img/hexagons.jpg';
$header-bg-color: #C8544E;

// Sidebar
$sidebar-widget-light-bg-color: white;

// Buttons
$button-default-color: $color-grey-7;
$button-default-bg-color: white;
$button-default-hover-color: $button-default-color;
$button-default-hover-bg-color: darken($button-default-bg-color, 2%);

$button-success-color: white;
$button-success-bg-color: $color-green;
$button-success-hover-color: $button-success-color;
$button-success-hover-bg-color: lighten($button-success-bg-color, 5%);

// Forms
$input-border-color: $color-grey-2;
$input-border-hover-color: $color-grey-5;