@charset "utf-8";

@import "ui";

html,
body {
  @include font-optimize;
  min-height: 100%;
  min-width: 320px;
  width: 100%;
  background: #fff;
  font: {
    size: 12px;
    family: $font-family;
  }
  color: #52525c;

  .container {
    @include container;
  }

  .new-line-sm {
    display: none;
  }

  @include media-breakpoint-down(sm) {
    .new-line-sm {
      display: block;
      width: 100%;
      height: 15px;
    }
  }
}

/**
 * Partials
 */
@import "partials/header";

/**
 * Home page
 */
@import "pages/home/welcome";

