.welcome {
  max-width: $width;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 70px 15px;
  height: 400px;
  overflow: hidden;
  display: flex;
  opacity: 1;
  justify-content: space-between;
  transform: scale(1);
  transition:
    transform .5s $swift,
    padding .5s $swift,
    opacity .5s $swift,
    height .5s $swift;

  img {
    width: 256px;
    height: 256px;
  }

  &-about {
    width: 100%;
    text-align: center;
    padding: 0 85px;
    box-sizing: border-box;
  }

  &-description {
    font-size: 14px;
    color: $color-description;
  }

  @include media-breakpoint-down(sm) {
    height: 0;
    opacity: 0;
    padding: 0 15px;
    transform: scale(0);
  }
}

