.topline {
  @include height(32px);
  box-shadow: 0 1px 0 $color-border;
  padding-top: 9px;
  background: url(/img/partials/header-top-line.png) center top repeat-x;

  .container,
  .menu,
  .user {
    @include height(inherit);
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .menu {
    @include text-overflow;
    a {
      float: left;
      display: block;
      margin: 0 32px 0 0;
    }
  }

  .user {
    width: 150px;
    white-space: nowrap;

    &-login {
      &:after {
        @include fa-icon;
        content: $fa-var-user;
        margin-left: 10px;
      };
    }
  }
}