.articles-page {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  margin: 0 auto;

  .articles-list,
  .articles-sidebar {
    padding: 0 15px;
  }

  .articles-list {
    flex-basis: 70%;
    max-width: 70%;

    article {
      margin-bottom: 20px;
      background-color: white;

      .contents {
        padding: 20px;
      }

      header {
        margin-bottom: 20px;
      }

      h3 {
        font-size: 2rem;
      }

      .preview {
        margin-bottom: 20px;
      }
    }
  }

  .articles-sidebar {
    flex-basis: 30%;
    max-width: 30%;
  }
}
