.button {
  display: inline-block;
  text-decoration: none;
  line-height: $button-size;
  height: $button-size;
  box-shadow: 0 0 0 1px $color-border;
  box-sizing: border-box;
  padding: 0 25px;
  outline: none;
  border: none;
  color: $color-text;
  border-radius: 2px;
  background: #fff;

  &:hover {
    transition: color .3s $swift, box-shadow .3s $swift;
    box-shadow: 0 0 0 1px $color-main;
  }

  &.main {
    background: $color-main;
    box-shadow: 0 0 0 1px $color-main;
    color: #fff;

    &:hover {
      transition: box-shadow .3s $swift, color .3s $swift, background .3s $swift;
      box-shadow: 0 0 0 1px darken($color-main, 20%);
      background: desaturate(darken($color-main, 5%), 15%);
    }
  }

  &.icon-show-more {
    &:after {
      @include fa-icon;
      content: $fa-var-angle-right;
      margin: 0 -6px 0 10px;
    }
  }
}