.label {
  color: $color-text;
  display: block;
  position: relative;
  padding: 10px 15px;
  margin-top: 5px;
  border-radius: 2px;
  box-shadow: 0 0 0 1px $color-border;

  &:before {
    @include fa-icon;
    margin-right: 8px;
  }

  &.error {
    box-shadow: 0 0 0 1px $color-alert;
    background: #fff;
    color: $color-alert;

    &:before {
      content: $fa-var-exclamation-triangle;
    }
  }
}

input + .label {
  margin-top: 14px;

  &:after {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    position: absolute;
    box-shadow: -1px -1px 0 $color-gray;
    transform: rotate(45deg);
    background: #fff;
    transform-origin: 50% 50%;

    top: -3px;
    left: 50%;
    margin-left: -4px;
  }

  &.error {
    &:after {
      box-shadow: -1px -1px 0 $color-main;
    }
  }
}