@keyframes preloader-rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@mixin preloader($width: 32px, $height: 32px, $color: $color-main) {
  &:before {
    content: '';
    display: block;
    position: relative;
    border-radius: 50%;
    top: calc(50% - #{$width / 2});
    left: calc(50% - #{$height / 2});
    width: $width;
    height: $height;
    border: transparent 3px solid;
    border-left-color: $color;
    transform: rotate(0);
    animation: preloader-rotate .5s infinite linear;
  }
}

.preloader {
  display: block;
  width: 100%;
  height: 200px;
  position: relative;

  @include preloader(32px, 32px, $color-main);
}